.btn,
a.btn,
a.btn:visited {
	display: inline-block;
	background: #64BD2E;
	background-image: -webkit-linear-gradient(#64BD2E, #50A91A);
	background-image: -moz-linear-gradient(#64bd2e, #50a91a);
	background-image: -ms-linear-gradient(#64bd2e, #50a91a);
	background-image: -o-linear-gradient(#64bd2e, #50a91a);
	background-image: linear-gradient(#64BD2E, #50A91A);
	font: 16px/1.6em "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	padding: 10px 30px;
	text-align: center;
	border: 0;
	border-radius: 4px;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.btn:hover,
a.btn:hover,
a.btn:active {
	background: #79ca3c;
	background-image: -webkit-linear-gradient(#79ca3c, #62b524);
	background-image: -moz-linear-gradient(#79ca3c, #62b524);
	background-image: -ms-linear-gradient(#79ca3c, #62b524);
	background-image: -o-linear-gradient(#79ca3c, #62b524);
	background-image: linear-gradient(#79ca3c, #62b524);
}
.btn.secondary,
a.btn.secondary {
	background: transparent;
	background-image: none;
	color: #6F7C82;
	border: 1px solid #e1e1e1;
	box-shadow: none;
}
.btn.secondary:hover,
a.btn.secondary:hover {
	color: #292E31;
}
