<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title == "Home" %}
	  {{ site.title }} - {{ site.tagline }}
	{% else %}
	  {{ page.title }} - {{ site.title }}
	{% endif %}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script>
	if (window.location.hostname == 'gilbitron.github.io'){
		window.top.location.href = 'http://idealimageslider.com';
	}
	</script>

	<link rel="stylesheet" href="{{ site.baseurl }}/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/solarized_light.min.css">

	<script src="https://use.typekit.net/faq8ucs.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<link rel="stylesheet" href="{{ site.baseurl }}/public/bower_components/ideal-image-slider/ideal-image-slider.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/bower_components/ideal-image-slider/themes/default/default.css">
	<script src="{{ site.baseurl }}/public/bower_components/ideal-image-slider/ideal-image-slider.min.js"></script>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-3892196-69', 'auto');
	ga('send', 'pageview');
	</script>
</head>
<body>

	{% include nav.html %}

	{% if page.title == "Home" %}
		{% include hero.html %}
	{% endif %}
