<nav class="nav">
	<ul class="right">
		<li>
			<a href="#">Download<span class="caret"></span></a>
			<ul class="children">
				<li><a href="https://github.com/gilbitron/Ideal-Image-Slider/releases">Download Javascript Plugin</a></li>
				<li><a href="http://dev7studios.com/plugins/ideal-image-slider">Buy WordPress Plugin</a></li>
				<li><a href="https://github.com/gilbitron/Ideal-Image-Slider">View on Github</a></li>
			</ul>
		</li>
	</ul>
	<ul>
		<li class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></li>
		<li class="demos">
			<a href="#">Demos<span class="caret"></span></a>
			<ul class="children">
				<li><a href="{{ site.baseurl }}/demo/standard-slider.html">Standard Slider</a></li>
				<li><a href="{{ site.baseurl }}/demo/links.html">With Links</a></li>
				<li><a href="{{ site.baseurl }}/demo/using-the-api.html">Using the API</a></li>
				<li><a href="{{ site.baseurl }}/demo/using-events.html">Using Events</a></li>
				<li><a href="{{ site.baseurl }}/demo/multiple-sliders.html">Multiple Sliders</a></li>
				<li><a href="{{ site.baseurl }}/demo/bullet-nav.html">Bullet Navigation</a></li>
				<li><a href="{{ site.baseurl }}/demo/captions.html">Captions</a></li>
			</ul>
		</li>
		<li class="docs">
			<a href="#">Docs<span class="caret"></span></a>
			<ul class="children">
				<li><a href="https://github.com/gilbitron/Ideal-Image-Slider#getting-started">Getting Started</a></li>
				<li><a href="https://github.com/gilbitron/Ideal-Image-Slider#settings">Settings</a></li>
				<li><a href="https://github.com/gilbitron/Ideal-Image-Slider#events">Events</a></li>
				<li><a href="https://github.com/gilbitron/Ideal-Image-Slider#api">API</a></li>
				<li><a href="https://github.com/gilbitron/Ideal-Image-Slider#contribute">Contribute</a></li>
				<li><a href="https://github.com/gilbitron/Ideal-Image-Slider/blob/master/CHANGELOG.md">Changelog</a></li>
			</ul>
		</li>
		<li class="extensions">
			<a href="#">Extensions<span class="caret"></span></a>
			<ul class="children">
				<li><a href="https://github.com/gilbitron/Ideal-Image-Slider/tree/master/extensions/bullet-nav">Bullet Navigation</a></li>
				<li><a href="https://github.com/gilbitron/Ideal-Image-Slider/tree/master/extensions/captions">Captions</a></li>
			</ul>
		</li>
	</ul>
</nav>
