//=================================
// Variables
//=================================

$font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-bg: #FAFAFB;
$color-text: #6F7C82;
$color-accent: #008CDD;
$color-dark: #292E31;
$color-success: #64BD2E;
