body {
	font: 18px/1.7em "adobe-garamond-pro", Georgia, Times, "Times New Roman", serif;
	color: #555;
	padding-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #111;
}

pre {
	background: #fdf6e3;
	border-color: #e5e5e5;
}

@media (min-width: 1200px) {
	.container { width: 1000px }
}

.nav-tabs { margin-bottom: 30px; }

.btn { font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.content {
	padding: 100px 0;
}

.footer {
	font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 50px 0;
	border-top: 1px solid #eee;
}

.hero {
	h1, h2 { text-align: center; }
	h1 {
		font-size: 40px;
		font-weight: bold;
		margin: 80px 0 15px;
	}
	h2 {
		font-size: 25px;
		margin: 0;
	}
}

.features {
	padding: 30px 0;

	.feature-icon {
		font-size: 120px;
		text-align: center;
	}
}

.cta {
	padding: 50px 0;
	text-align: center;

	.btn { margin-bottom: 30px; }
}

.share {
	text-align: center;
}

.demo-slider { margin-bottom: 50px; }