body {
	font: 18px/1.7em "adobe-garamond-pro", Georgia, Times, "Times New Roman", serif;
	color: #555;
	padding-top: 80px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #111;
}

@media (min-width: 1200px) {
	.container { width: 1000px }
}

.content {
	padding: 100px 0;
}

.footer {
	font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding: 50px 0;
	border-top: 1px solid #eee;
}

.hero {
	.hero-inner {
		margin: 0 -100px;
	}

	h1, h2 { text-align: center; }
	h1 {
		font-size: 40px;
		font-weight: bold;
		margin: 80px 0 15px;
	}
	h2 {
		font-size: 25px;
		margin: 0 0 80px;
	}
}

.features {
	.feature-icon {
		font-size: 120px;
		text-align: center;
	}
}