/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
* Remove the gap between images, videos, audio and canvas and the bottom of
* their containers: h5bp.com/i/440
*/

audio,
canvas,
img,
svg,
video {
	vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
	resize: vertical;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

body {
	font: 16px/1.6em $font-family;
	background: $color-bg;
	color: $color-text;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, strong {
	color: $color-dark;
	font-weight: normal;
}

strong { font-weight: 600; }

ul,ol { padding-left: 25px; }

a, a:visited {
	color: $color-accent;
	text-decoration: none;
}
a:hover, a:active {
	color: #292E31;
	text-decoration: none;
}

input {
	font: 16px/1.6em "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #6F7C82;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	padding: 7px 15px;
}
input:hover { border-color: #ccc; }
input:focus {
	outline: none;
	border-color: #bbb;
}

code {
	font-family: Menlo, Consolas, Monaco, 'Lucida Console', monospace;
	font-size: 13px;
	line-height: 1.6em;
	color: #333;
}
pre {
	background: #272822;
	padding: 20px;
	overflow: auto;
	border-radius: 6px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
pre code { padding: 0; }

.inner {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

.header {
	background: #2c3c74;
	background: -webkit-linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);
	background: -moz-linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);
	background: -o-linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);
	background: linear-gradient(15deg, #85BBCD 12%, #2c3c74 72%);
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,0.2);
	padding: 0 0 50px 0;
	text-align: center;
	box-shadow: inset 0 -1px 3px rgba(0,0,0,0.1);

	h1 {
		font-size: 40px;
		line-height: 1em;
		margin: 0 0 10px 0;
		color: #fff;

		@include max-screen(500px){
			font-size: 32px;
		}
	}
	h2 {
		font-size: 20px;
		line-height: 1em;
		margin: 0 0 40px 0;
		color: #D6E2E9;
		color: rgba(255,255,255,0.7);
	}
}

.nav {
	text-align: left;
	margin-bottom: 50px;
	border-bottom: 1px solid rgba(255,255,255,0.07);
	text-shadow: 0 1px 2px rgba(0,0,0,0.1);

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		&.right { float: right; }
		li {
			display: inline;
			position: relative;

			&:hover .children { display: block; }
		}
		a {
			display: inline-block;
			font-size: 15px;
			line-height: 20px;
			color: #fff;
			color: rgba(255,255,255,0.7);
			padding: 10px 8px;
			vertical-align: middle;

			&:hover { color: #fff; }
		}

		.children {
			display: none;
			position: absolute;
			left: -7px;
			top: 130%;
			z-index: 9999;
			width: 150px;
			background: #fff;
			padding: 3px 0;
			border-radius: 5px;
			-webkit-box-shadow: 0 8px 13px rgba(0,0,0,0.3), 0 0 0 1px rgba(0,0,0,0.06);
			box-shadow: 0 8px 13px rgba(0,0,0,0.3), 0 0 0 1px rgba(0,0,0,0.06);

			li {
				display: block;

				a {
					color: $color-text;
					padding: 4px 15px;
					text-shadow: none;
					&:hover { color: $color-dark; }
				}
			}
		}
	}
	.logo a {
		font-size: 20px;
		font-weight: 600;
		padding-left: 0;
	}
	.caret {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		width: 0;
		height: 0;
		border-left: 3px solid transparent;
		border-right: 3px solid transparent;
		border-top: 3px solid rgba(255,255,255,0.6);
	}
	a:hover .caret { border-top-color: #fff; }
}

#slider,
#slider1,
#slider2 {
	background: #F7F9FA;
	border-radius: 6px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.3), 0 0 0 1px rgba(0,0,0,0.08);
	margin-bottom: 10px;
}

.content {
	padding: 50px 0;

	.intro {
		text-align: center;
		margin: 0 0 40px 0;

		@include max-screen(500px){
			text-align: left;
		}
	}
}
.features {
	margin-bottom: 20px;

	.feature {
		width: 31%;
		float: left;
		margin: 0 3.5% 0 0;

		&.last { margin-right: 0; }
		@include max-screen(700px){
			width: auto;
			float: none;
		}
	}
	h3 {
		margin: 0 0 7px 0;

		span {
			vertical-align: -10%;
			margin-right: 3px;
			color: $color-success;
		}
	}
	p { margin: 0 0 30px 0; }
}

.quick-start {
	margin-bottom: 50px;

	h3 { margin: 0 0 1em 0; }
	pre { padding: 10px; }
}

.cta {
	text-align: center;

	.btn { margin: 0 5px 10px; }
}

.share {
	text-align: center;
	margin-top: 20px;

	.fb-like {
		position: relative;
		top: -8px;
		margin-right: 30px;
	}
}

.updates {
	text-align: center;
	margin-top: 20px;

	label {
		display: inline-block;
		margin-bottom: 5px;
	}
	input { width: 230px; }
	.btn {
		font-size: 15px;
		line-height: 1.6em;
		padding: 8px 20px 7px;
		margin-left: 5px;
	}
}

.pricing-table {
	background: #F7F9FA;
	background: rgba(247,249,250,0.84) -webkit-linear-gradient(#FFF,rgba(255,255,255,0));
	background: rgba(247,249,250,0.84) -moz-linear-gradient(#fff,rgba(255,255,255,0));
	background: rgba(247,249,250,0.84) -o-linear-gradient(#fff,rgba(255,255,255,0));
	background: rgba(247,249,250,0.84) -ms-linear-gradient(#fff,rgba(255,255,255,0));
	background: rgba(247,249,250,0.84) linear-gradient(#FFF,rgba(255,255,255,0));
	color: $color-text;
	text-shadow: none;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.42), 0 0 1px rgba(0,0,0,0.12), inset 0 -1px 2px rgba(14,60,86,0.1);

	table { width: 100%; }
	th,
	td {
		width: 33.333%;
		padding: 5px 15px;
		text-align: center;
	}
	th {
		font-size: 19px;
		font-weight: normal;
		line-height: 1.5em;
		color: $color-dark;
	}
	tfoot td { padding-top: 15px; }
	.cost td {
		font-size: 26px;
		line-height: 1.5em;
		color: #46A41C;
	}
	.mdash { color: #acb7ba; }
	.btn { padding: 5px 30px; }
}

.pricing-faq {
	@include clearfix;

	.col {
		float: left;
		width: 45%;
		margin-right: 10%;
		&.last { margin-right: 0; }

		@include max-screen(700px){
			width: auto;
			float: none;
			margin-right: 0;
		}
	}
}

.footer {
	margin-bottom: 10px;
	p {
		font-size: 14px;
		border-top: 1px solid #E7E9EA;
		padding: 20px 0;
		margin: 0;
	}
	.announcements { float: right; }
}

.announcement-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.post {
	.post-meta { color: #acb7ba; }
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers: h5bp.com/u
*/

.hidden {
	display: none !important;
	visibility: hidden;
}

/*
* Hide only visually, but have it available for screen readers: h5bp.com/v
*/

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
	visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request: h5bp.com/r
========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	* Don't show links that are fragment identifiers,
	* or use the `javascript:` pseudo protocol
	*/

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}
